{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <h5 class="my-3 border-bottom pb-2">비밀번호 변경</h5>
    <form method="post">
        {{ form.csrf_token }}
        <!-- 오류표시 Start -->
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {% for field, errors in form.errors.items() %}
            <strong>{{ form[field].label }}</strong>
            <ul>
                {% for error in errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
        {% endif %}
        <!-- 오류표시 End -->
        <div class="mb-3">
            <label for="new_password1">새 비밀번호</label>
            <input type="password" class="form-control" name="new_password1" id="new_password1">
        </div>
        <div class="mb-3">
            <label for="new_password2">새 비밀번호 확인</label>
            <input type="password" class="form-control" name="new_password2" id="new_password2">
        </div>
        <button type="submit" class="btn btn-primary">변경하기</button>
    </form>
</div>
{% endblock %}