{% extends 'base.html' %}
{% block content %}
<!-- 질문 등록 -->
<div class="container">
    <h5 class="my-3 border-bottom pb-2">질문등록</h5>
    <form method="post" class="my-3" id="question-form">
        {{ form.csrf_token }}
        {# 오류표시 Start #}
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {% for field, errors in form.errors.items() %}
            <strong>{{ form[field].label }}</strong>
            <ul>
                {% for error in errors %}
                <li> {{ error }}</li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
        {% endif %}
        {# 오류표시 End #}
        <div class="mb-3">
            {{ form.category.label(class="form-label") }}
            {{ form.category(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.subject.label(class="form-label") }}
            {{ form.subject(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.content.label(class="form-label") }}
            {{ form.content(class="form-control", rows=10, id="content") }}
        </div>
        <button type="submit" class="btn btn-primary">저장하기</button>
    </form>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
    // content 필드에 SimpleMDE 적용
    const contentTextarea = document.getElementById('content');
    let simplemde;
    if (contentTextarea) {
        simplemde = new SimpleMDE({ element: contentTextarea });
    }

    // "저장하기" 버튼 클릭 시 SimpleMDE의 내용을 textarea에 복사
    const submitButton = document.querySelector('#question-form button[type="submit"]');
    submitButton.addEventListener('click', function() {
        if (simplemde) contentTextarea.value = simplemde.value();
    });
</script>
{% endblock %}
